
#main{
    width: 30%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 90px;
    border-radius: 10px;
    background-color: teal;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#int1
{
    background-color: white;
    padding: 10px;
    margin-top:20px;
    border-radius: 10px;
}
button{
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
h2{
    text-align: center;
    color: whitesmoke;
}